<form [formGroup]="userForm">
    <label>Name:</label>
    <input type="text" formControlName="name">
    <br>

    <label>Phone:</label>
    <input type="number" formControlName="Phone">
    <br>

    <label> Dob:</label>
    <input type="date" formControlName="dob">
    <br>

    <h2>address:</h2>

    <div formGroupName="address">

        <label>City:</label>
        <input type="text" formControlName="city">

        <label>Pin:</label>
        <input type="number" formControlName="pin">

    </div>

    <button (click)="add()">add card</button>

    <button (click)="Submit()"> Submit </button>



</form>